<!-- <div>
    <form [formGroup]="addRoomForm" class="text-center border border-light p-5 ">
        <p class="h4 mb-4">Add room</p>
        <div class="form-row mb-4">
          
            <div class="col mb-3 ">
                <!-- Last name -->
                <mat-form-field appearance="fill">
                    <!-- <mat-label>Choose an class</mat-label> -->
                    <select matNativeControl [disabled]="disableSelect.value" class="form-control" id="class">
                        <option value="">Choose an class 🔽</option>
                        <option value="11">orthopedics</option>
                        <option value="12">neurology</option>
                        <option value="13">cardiology</option>
                        <option value="14">oncology</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="col mb-3 form-control">
            <label>prioriy</label>
            <mdb-range [min]="0" [max]="10">
                <!-- Password -->
                <input type="range" id="priority" class="form-control" placeholder="">
            </mdb-range>
        </div>
        <div class="col mb-3 form-control">
            <label>danger</label>
            <mdb-range [min]="0" [max]="10">

                <input type="range" id="danger" class="form-control" placeholder="">
            </mdb-range>
        </div>



        <!-- Sign up button -->
        
        <button type="button"  (click)="addSurgery()" class="btn btn-outline-dark">Add</button>


    </form>
</div> -->
