#menu{
    display: flex;
    align-content: space-between



 
}
.border {
    border: 3px solid #021861 !important;
}
.p-5 {
    padding: 4rem !important;
    margin-left:100px;
    margin-top: 1em;
}
.p-6 {
  padding: 3rem !important;
  margin-left:100px;
  margin-top: 1em;
}
.example-card {
    max-width: 400px;
    max-height: 1000000000rem;
    border: 3px solid #021861 ;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .p-5[_ngcontent-fhm-c80] {
    padding: 4rem !important;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
.class-item {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.md-switching-view-cont .mbsc-segmented {
  max-width: 350px;
  margin: 0 auto;
}

.md-switching-view-cont .mbsc-calendar-grid-item {
  height: 490px;
  box-sizing: border-box;
}

.cal-header-picker {
  flex: 1 0 auto;
}

.cal-header-nav {
  width: 200px;
}

/* material header order */

.mbsc-material.cal-header-prev {
  order: 1;
}

.mbsc-material.cal-header-next {
  order: 2;
}

.mbsc-material.cal-header-nav {
  order: 3;
}

.mbsc-material .cal-header-picker {
  order: 4;
}

.mbsc-material .cal-header-today {
  order: 5;
}

/* windows header order */

.mbsc-windows.cal-header-nav {
  order: 1;
}

.mbsc-windows.cal-header-prev {
  order: 2;
}

.mbsc-windows.cal-header-next {
  order: 3;
}

.mbsc-windows .cal-header-picker {
  order: 4;
}

.mbsc-windows .cal-header-today {
  order: 5;
}