<div class="col-md-6 mx-auto d-flex justify-content-center">
    <!-- add device -->
    <form [formGroup]="addDeviceForm" class="text-center border border-light p-5 ">
        <p class="h4 mb-4">Add Device</p>
        <div class="form-row mb-4">


            <div class="col mb-3">

                <input formControlName="name" type="text" id="name" class="form-control" placeholder="name">
            </div>
            <div class="col mb-3">

                <input formControlName="amount" type="number" id="amount" class="form-control" placeholder="amount">
            </div>
        </div>




        <!-- Sign up button -->

        <button type="button" (click)="addDevice()" class="btn btn-outline-dark">Add</button>


    </form>

    <form [formGroup]="addRwquestDeviceForm" class="text-center border border-light p-5 ">
        <p class="h4 mb-4">Add Request</p>
        <div class="form-row mb-4">


            <mat-form-field appearance="fill">

                <label>Choose an device 🔽</label>
                <select matNativeControl required [disabled]="disableSelect.value" class="form-control" id="class"
                    formControlName="class">
                    <option value="Acme heart">Acme heart</option>
                    <option value="Defibrillator">Defibrillator</option>
                    <option value="Ultrasound">Ultrasound</option>
                </select>
            </mat-form-field>

        </div>
        <div class="col mb-3">

            <input formControlName="amount" type="number" id="amount" class="form-control" placeholder="amount">
        </div>

       

   

        <button type="button" (click)="addrequest()" class="btn btn-outline-dark">Add</button>


    </form>

</div>