<label for="class"> Choose a device </label>
<select name="class" id="class" [(ngModel)]="selectedOption"  >
<option value="1000">Acme heart</option>
<option value="1001">Defibrillator</option>
<option value="1002">Ultrasound</option>



</select>
<div  class="col-md-6 mx-auto d-flex justify-content-center">
    <!-- add device -->
   <form [formGroup]="addDeviceForm" class="text-center border border-light p-5 ">
       <p class="h4 mb-4">Add Device</p>
       <div class="form-row mb-4">
         
       
           <div class="col mb-3">

               <input formControlName="name" type="text" id="name" class="form-control" placeholder="name">
           </div>
           <div class="col mb-3">

            <input formControlName="amount" type="number" id="amount" class="form-control" placeholder="amount">
        </div>
       </div>
       



       <!-- Sign up button -->
       
       <button type="button"  (click)="addDevice()" class="btn btn-outline-dark">Add</button>


   </form>

   <form [formGroup]="addRwquestDeviceForm" class="text-center border border-light p-5 ">
    <p class="h4 mb-4">Add Device</p>
    <div class="form-row mb-4">
      
    
        <div class="col mb-3">

            <input formControlName="name" type="text" id="name" class="form-control" placeholder="name">
        </div>
        <div class="col mb-3">

         <input formControlName="amount" type="number" id="amount" class="form-control" placeholder="amount">
     </div>
    </div>
    



    <!-- Sign up button -->
    
    <button type="button"  (click)="addDevice()" class="btn btn-outline-dark">Add</button>


</form>
</div>