<!-- <form [formGroup]="registerUserForm">
    <label for="tz">תעודת זהות</label>
    <input formControlName="tz" class="form-control" type="text" id="tz" placeholder="">
    <label for="name">שם פרטי ומשפחה</label>
    <input formControlName="name" class="form-control" type="text" id="name" placeholder="chayaAbu">
    <label for="pass">סיסמא</label>
    <input formControlName="pass" class="form-control" type="password" id="pass" placeholder="">
    <label for="nochange">אחות</label>
    <input formControlName="nochange" class="form-control" type="checkbox" id="nochange" >
    <label for="change">אחות ראשית</label>
    <input formControlName="change" class="form-control" type="checkbox" id="change" >
    <input   class="btn btn-primary" type="submit" value="הרשם" (click)="doRegister()">
    </form> -->
<!-- Default form register -->
<form [formGroup]="registerUserForm" class="text-center border border-light p-5 ">
  <p class="h4 mb-4">Register</p>
  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input  formControlName="tz" type="text" id="tz" class="form-control" placeholder="id">
    </div>
    <div class="col">
      <!-- Last name -->
      <input formControlName="name" type="text" id="name" class="form-control" placeholder="chayaAbu">
    </div>
    <div>
      <!-- Password -->
      <input formControlName="pass" type="password" id="pass" class="form-control" placeholder="Password">
    </div>
   
    
    <div>
      <div class="form-check form-check-inline">
        <input formControlName="change" class="form-check-input" type="radio" id="change" >
        <label class="form-check-label" for="inlineRadio1">Head nurse</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="nochange" class="form-check-input" type="radio"  id="noChange" >
        <label class="form-check-label" for="inlineRadio2">Nurse</label>
      </div>
    </div>



    <!-- Sign up button -->


    <button type="button" (click)="doRegister()" class="btn btn-outline-dark">Register</button>
  </div>
</form>
<!-- Default form register -->