<div class="col-md-6 mx-auto d-flex justify-content-center">

    <mat-card class="text-center border border-light p-6 ">
        <p class="h4 mb-4">Todays surgery</p>
        <div class="col mb-3 ">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>



            </mat-card-header>
        </div>
        <div class="col mb-6 ">
            <mat-card-content>


                <div class="class-item" *ngFor="let s of surgery">
                    <div>
                        <span>surgery code: {{s.surgeryCode}}</span>
                    </div>
                    <span>surgery date:
                        <br>{{s.surgeryDate}}</span>
                </div>


                <div>

                    <button type="button" (click)="shoeSurgeryFromCurrentDate()"
                        class="btn btn-outline-dark">Watch</button>

                </div>

            </mat-card-content>
        </div>

    </mat-card>


    <form [formGroup]="addSurgeryForm" class="text-center border border-light p-5 ">
        <p class="h4 mb-4">Add surgery</p>
        <div class="form-row mb-4">
            <div class="col mb-3">

                <input formControlName="date" type="date" id="date" class="form-control" placeholder="">
            </div>
            <div class="col mb-3 ">
                <!-- Last name -->
                <mat-form-field appearance="fill"> 
                   
                   <label>Choose an class 🔽</label>
                    <select matNativeControl required [disabled]="disableSelect.value" class="form-control" id="class" formControlName="class">
                        <option value="11">orthopedics</option>
                        <option value="12">neurology</option>
                        <option value="13">cardiology</option>
                        <option value="14">oncology</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="col mb-3 form-control">
            <label>prioriy</label>
            <mdb-range [min]="0" [max]="10" formControlName="priority">
                <!-- Password -->
                <input type="range" id="priority" class="form-control" placeholder="">
            </mdb-range>
        </div>
        <div class="col mb-3 form-control">
            <label>danger</label>
            <mdb-range [min]="0" [max]="10" formControlName="danger">

                <input type="range" id="danger" class="form-control" placeholder="">
            </mdb-range>
        </div>



        <!-- Sign up button -->

        <button type="button" (click)="addSurgery()" class="btn btn-outline-dark">Add</button>


    </form>
</div>