#menu{
    display: flex;
    align-content: space-between



 
}
.border {
    border: 3px solid #021861 !important;
}
.p-5 {
    padding: 4rem !important;
    margin-left:100px;
    margin-top: 1em;
}
.p-6 {
  padding: 6rem !important;
  margin-left:100px;
  margin-top: 1em;
}
.example-card {
    max-width: 400px;
    max-height: 1000000000rem;
    border: 3px solid #021861 ;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .p-5[_ngcontent-fhm-c80] {
    padding: 4rem !important;
}
h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}